
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  
}
#wrapper{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 280px minmax(200px, 30%) 1fr;
  grid-template-areas: 
    "navbar navbar navbar navbar"
    ". filters books ."
    "footer footer footer footer";
}
#navbar{
  grid-area: navbar;
}
#filters{
  grid-area: filters;
  
}
#books{
  grid-area: books
}
#footer{
  grid-area: footer;
}


#book-card{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

#search-bar > form{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: black;
  white-space:nowrap;
}
/*main {
  display: flex;
  max-width: 90%;
  flex-direction: row;
  justify-content:flex-start;
  margin: 0 auto;
  padding-bottom: 20px;
}*/
/**/
